
*{
    box-sizing:border-box;
}
.addproduct-section {
    width: 100%;
}

.form-container {
    width: 800px;
    margin: 70px auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin:10px 0;
}
label{
    margin-bottom:50px;
    font-size:18px;
}
.btn{
    padding:7px 20px;
    border-radius:500px;
    float:right;
    margin-top:20px;
    cursor:pointer;
    outline:none;
    font-size:18px;
    font-weight:bold;
}