@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}

<section class="hero-section">
    <div class="hero-section-content">
        <h2 class="tracking-in-expand"> THE <span class="focus-in-expand ">FUTURE'S</span> <br />SO BRIGHT, <br /> <span class="focus-in-expand ">YOU</span> GOTTA <br /> WHERE SHADES.</h2>
        <button class="vibrate-2">VIEW COLLECTIONS</button>
    </div>
    <div class="hero-section-image">
        <p class="image-caption">GUCCI <br /> GANG</p>
        <img src="images/versace.jpg" alt=" sunglasses" class="image" style="width:100%;" />
    </div>
</section>

