
img,
picutre {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.hero-section {
    display: flex;
    min-width: 100%;
    height: 90vh;
}

.hero-section-content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding-left: 140px;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f5f2;
}

    .hero-section-content h2 {
        font-family: 'Monoton', cursive;
        color: #bdbbba;
        letter-spacing: 2px;
        word-spacing: 10px;
        line-height: 70px;
        font-weight: 500;
        font-size: 45px;
    }

        .hero-section-content h2 span {
            color: #000000;
        }

    .hero-section-content a {
        margin-top: 30px;
        padding: 15px 15px;
        background-color: black;
        color: white;
        cursor: pointer;
        text-decoration:none;
    }

        .hero-section-content a.btn:hover {
            background-color: transparent;
            border: 1px solid #000000;
            color: #bdbbba;
        }

.hero-section-image {
    width: 500px;
    position: relative;
}

    .hero-section-image .image-caption {
        position: absolute;
        top: 40px;
        left: 45px;
        font-family: 'Zeyada', cursive;
        color: aliceblue;
        font-size: 27px;
        font-weight: bold;
    }


/*featured product section*/

.featured-product-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-product-sub-heading {
    color: #bdbbba;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 4px;
}

.featured-product-heading {
    color: #000000;
    margin-top: 10px;
    letter-spacing: 4px;
}


.featured-products {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}


.product-card {
    width: 200px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 5px;
}

    .product-card .product-card-image img {
        object-fit: cover;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .product-card .product-card-details {
        padding: 5px;
    }

        .product-card .product-card-details .product-card-title_price {
            display: flex;
            justify-content: space-between;
        }

            .product-card .product-card-details .product-card-title_price h4 {
                text-transform: capitalize;
            }

            .product-card .product-card-details .product-card-title_price p {
                color: #bdbbba;
                font-size: 12px;
            }


.cart-button {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    color: aliceblue;
    border-radius: 8px;
    transition: .3s ease;
    overflow: hidden;
    background: #bdbbba;
    cursor: pointer;
    outline: none;
    border: none;
}

    .cart-button:active {
        transform: scale(.9)
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        top: 50%;
        left: -15%;
        transform: translate(-50%,-50%);
        z-index: 2;
        font-size: 1.7rem;
        color: aliceblue;
    }

    .cart-button .fa-box {
        position: absolute;
        top: -70%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        font-size: 1.2rem;
        color: aliceblue;
    }

    .cart-button .add-to-cart, .cart-button .added {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font: 700 18px;
    }

    .cart-button .added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .add-to-cart {
        animation: text1 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .added {
        animation: text2 1.5s ease-in-out forwards;
    }



/*  // ..........Video section css .........*/
.video_sales_promo-section {
    display: flex;
    margin: 70px 0 0;
}

    .video_sales_promo-section .video {
        width: 500px;
        flex: 1;
        position: relative;
    }

.sales-promo {
    flex: 1;
    background-image: url(../images/womanshoping.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sales-promo-content {
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 5px;
}

    .sales-promo-content h3 {
        font-size: 25px;
    }

        .sales-promo-content h3 span {
            font-weight: lighter;
            font-size: 12px
        }

    .sales-promo-content h4 {
        font-weight: 400;
    }

.sales_btn {
    background: transparent;
    border-radius: 500px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}




#myvideo {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block;
}



.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left:0;
    padding: 10px 20px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}




    .controls i {
        cursor: pointer;
        color: dodgerblue;
    }

.play-control,
.volume-mute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.video-timeline {
    height: 7px;
    width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    left: 0;
    transform: translateY(-60%);
}

    .video-timeline .progress-area {
        height: 3px;
        position: relative;
        background: white;
    }
/* .progress-area span {
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(-50%);
} */

.video-timer {
    color: white;
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    position: relative;
    background: #2289ff;
}

.progress-bar::before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    border-radius: 50%;
    background: #2289ff;
    transform: translateY(-50%);
}

.progress-bar::before,
.progress-area span {
    display: none;
}

.video-timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*video section css end*/



/* SLIDER */

.testimonial_container {
    background: #f0c95f;
    height: 100vh;
    width: 100%;
    position: relative;
}

.testimonial-subheading {
    color: #FDF8EB;
    padding-top: 30px;
    font-weight: bolder;
    text-align: center;
}

.slide-row {
    display: flex;
    width: 2400px;
    transition: 0.5s;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
    transition: 0.5s;
}

.user-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

    .user-img img {
        height: 100%;
        width: 400px;
        display: block;
        border-radius: 10px;
        overflow: hidden;
    }

.user-text {
    background: #000000;
    width: 520px;
    word-wrap: break-word;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: aliceblue;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

    .user-text p {
        font-size: 18px;
        line-height: 24px;
    }

    .user-text h3 {
        margin: 35px 0 5px;
        color: #ffffff;
    }

.testimonial_container .containeer {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
}

.indicator-btn {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    width: 45px;
}

.testimonial {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.vibrate-2 {
    -webkit-animation: vibrate-2 .3s linear 3 both;
    animation: vibrate-2 .3s linear 3 both
}

.focus-in-expand {
    animation: focus-in-expand 3s cubic-bezier(.25,.46,.45,.94) .8s both
}

.tracking-in-expand {
    animation: tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both
}

.gram-service {
    padding: 40px;
}

.gram-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

    .gram-page h3 {
        font-size: 45px;
    }

    .gram-page span {
        margin-top: 20px;
    }

    .gram-page .ig-handle {
        position: relative;
    }

        .gram-page .ig-handle a {
            color: #000000;
            font-size: 25px;
            font-weight: 500;
            text-decoration: none;
        }

            .gram-page .ig-handle a:hover {
                color: #bdbbba;
            }

        .gram-page .ig-handle .verify {
            color: blue;
            font-size: 15px;
            position: absolute;
            top: -40%;
            right: -15%;
        }

.service-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: #f0c95f;
    color: aliceblue;
}

    .service-features > div {
        display: flex;
        align-items: center;
        padding: 30px;
        flex: 1;
    }

        .service-features > div img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .service-features > div p {
            font-weight: 500;
            font-size: 18px
        }














@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(2px,-2px);
        transform: translate(2px,-2px)
    }

    40% {
        -webkit-transform: translate(2px,2px);
        transform: translate(2px,2px)
    }

    60% {
        -webkit-transform: translate(-2px,2px);
        transform: translate(-2px,2px)
    }

    80% {
        -webkit-transform: translate(-2px,-2px);
        transform: translate(-2px,-2px)
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}


@keyframes focus-in-expand {
    0% {
        letter-spacing: -.5em;
        filter: blur(12px);
        opacity: 0
    }


    100% {
        filter: blur(0);
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}


@keyframes cart {
    0% {
        left: -7%;
    }

    40%,60% {
        left: 50%;
    }

    100% {
        left: 140%;
    }
}

@keyframes box {
    0%, 40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 35%;
        left: 140%;
    }
}

@keyframes text1 {
    0% {
        opacity: 1
    }

    20%,100% {
        opacity: 0;
    }
}

@keyframes text2 {
    0%,80% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

