@page "{searchString?}"
@model ShadeOn.Pages.StoreModel
@{
    ViewData["Title"] = "Product Page";
}

<div class="search-box">
    <form>
@*        <select asp-for="ProductBrand" asp-items="Model.Brandname">
            <option value="">All</option>
        </select>*@
        <input type="text" id="search" asp-for="SearchString" placeholder="Search for product...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>




<div class='product-container'>
    <form >
     
       <button type="submit"></button>
    </form>
    @foreach (var product in Model.products)
    {
        <div class="product-card">
            <div class="product-card-image">
                <img src="@product.Image" alt="" />
            </div>
            <div class="product-card-details">
                <div class="product-card-title_price">
                    <div class="product-desc">
                        <h4 class="product-brand">@product.Productname</h4>
                        <a asp-page="/admin/Details" asp-route-id="@product.Id" style="color:black;text-decoration:none; font-size:10px;">
                            <i class="fa-regular fa-eye"></i> View Product
                        </a>
                    </div>
                    <h4 class="product-price">£@product.Price</h4>
                </div>
                <button class="cart-button">
                    <span class="add-to-cart">
                        Add To Cart
                    </span>
                    <span class="added">
                        Added :)
                    </span>
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-box"></i>
                </button>
            </div>
        </div>
    }


</div>