.product-details {
    width: 1000px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    padding: 30px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.product-details-content{
    padding: 0 40px;
    
}
.product-details-content h3{
    text-transform:capitalize;
    margin-bottom:15px;
}
.product-details-content h4{
    margin-bottom:15px;
}
.product-details-content h4 span {
    text-transform:uppercase;
    font-weight:lighter;
}
.product-details-content p {
    margin-bottom:15px;
}
    .product-details-content p.free {
        text-transform: capitalize;
        color: #f0c95f;
        margin-bottom:25px;
        font-size:14px;
        font-weight:bold;
    }

.product-details-content p > span {
    margin-bottom: 25px;
    font-weight: bolder;
}




.cart-button {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    color: aliceblue;
    border-radius: 8px;
    transition: .3s ease;
    overflow: hidden;
    background: #1338be;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight:bolder;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.cart-button:hover{
    background-color:black;
}

    .cart-button:active {
        transform: scale(.9)
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        top: 50%;
        left: -15%;
        transform: translate(-50%,-50%);
        z-index: 2;
        font-size: 1.7rem;
        color: aliceblue;
    }

    .cart-button .fa-box {
        position: absolute;
        top: -70%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        font-size: 1.2rem;
        color: aliceblue;
    }

    .cart-button .add-to-cart, .cart-button .added {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font: 700 18px;
    }

    .cart-button .added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .add-to-cart {
        animation: text1 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .added {
        animation: text2 1.5s ease-in-out forwards;
    }













@keyframes box {
    0%, 40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 35%;
        left: 140%;
    }
}

@keyframes text1 {
    0% {
        opacity: 1
    }

    20%,100% {
        opacity: 0;
    }
}

@keyframes text2 {
    0%,80% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes cart {
    0% {
        left: -7%;
    }

    40%,60% {
        left: 50%;
    }

    100% {
        left: 140%;
    }
}